Repository dotnet/xharness, pull requests merged in 2020-04, with the labels that each got.

#74 Prevent hang of XHarness when Listener doesn't initialize fully
  src/Microsoft.DotNet.XHarness.CLI/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/IProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/ProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS/AppInstaller.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  src/Microsoft.DotNet.XHarness.iOS/AppUninstaller.cs
Labels: ios

#68 Migrate iOS.Tests project from NUnit to Xunit
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppInstallerTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppUninstallerTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/Microsoft.DotNet.XHarness.iOS.Tests.csproj
Labels: ios

#70 Keep mlaunch pdbs/mdb for Debug XHarness package
  eng/download-mlaunch.ps1
  eng/download-mlaunch.sh
  src/Microsoft.DotNet.XHarness.CLI/Microsoft.DotNet.XHarness.CLI.csproj
Labels: ios

#80 [iOS] Add support for tunnels when running on devices.
  src/Microsoft.DotNet.XHarness.CLI/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListenerFactory.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#61 [iOS] Do not generate the html report unless it is requested.
  src/Microsoft.DotNet.XHarness.iOS.Shared/IResultParser.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporter.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporterFactory.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/XmlResultParser.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/XmlResultParserTests.cs
Labels: ios

#84 [iOS] Implement the 'state' verb on iOS.
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/Darwin.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSCommandSet.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSGetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Microsoft.DotNet.XHarness.CLI.csproj
Labels: ios

#95 [iOS] Fix logging for unsuccessful app runs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#97 [TestRunner] Fix the number of ignored tests reported
  src/Microsoft.DotNet.XHarness.Tests.Runners/iOSApplicationEntryPoint.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/iOSApp/ViewController.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/macOS/MacTestMain.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/tvOSApp/ViewController.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/watchOS/Extension/InterfaceController.cs
Labels: bug, test-runners

#93 Clean-up SimpleListeners and fix invalid XML header
  src/Microsoft.DotNet.XHarness.CLI/Properties/launchSettings.json
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleFileListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleHttpListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListenerFactory.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleTcpListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporter.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
Labels: bug, ios

#100 [iOS][Tests] Add test to make sure that the skipped count is correct.
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests.csproj
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Samples/Issue95.xml
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/XmlResultParserTests.cs
Labels: ios

#101 [iOS] Fix hangs when stopping the TCP listener
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleTcpListener.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: bug, ios

#102 [iOS] Ensure that we do generate xml when we call the CLI.
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSTestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/AndroidApplicationEntryPoint.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/ApplicationOptions.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/iOSApp/ViewController.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/tvOSApp/ViewController.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestImporter/Templates/Managed/Resources/src/watchOS/Extension/InterfaceController.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#107 [iOS] Make dotnet path configurable
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSPackageCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSPackageCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/ExitCode.cs
Labels: ios

#106 [iOS] Unify the env vars to be shared between the libs.
  src/Microsoft.DotNet.XHarness.Tests.Runners/ApplicationOptions.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/Microsoft.DotNet.XHarness.Tests.Runners.csproj
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/Mlaunch/EnviromentVariables.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#113 [iOS] Add the result line in the standard ouput of XHarness
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/ExitCode.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/ITestReporter.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporter.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/TestReporterTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#109 [iOS] Improve the TunnelBore API.
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListenerFactory.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Listeners/SimpleListenerFactoryTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#122 [iOS] If the user tries to install the app in the wrong arch, let him know.
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/IErrorKnowledgeBase.cs
  src/Microsoft.DotNet.XHarness.iOS/ErrorKnowledgeBase.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/ErrorKnowledgeBaseTests.cs
Labels: ios

#120 [iOS] Fix several tunnel issues.
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/TcpTunnel.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
Labels: ios

#127 [iOS] If we use simulators do not use a tunnel.
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
Labels: ios

#125 [iOS] Fix state command to work with correct mlaunch & show mlaunch version
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSGetStateCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/Android/AndroidGetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/GetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSGetStateCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/IProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/ProcessManager.cs
Labels: bug, ios

#130 [Runners] Add support to skip test methods via attributes.
  XHarness.sln
  src/Microsoft.DotNet.XHarness.Tests.Runners/ApplicationEntryPoint.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/Core/TestAssemblyInfo.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/Core/TestRunner.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitFilter.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitFilterType.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitTestRunner.cs
  tests/Microsoft.DotNet.XHarness.Tests.Assembly.xUnit/Microsoft.DotNet.XHarness.Tests.Assembly.xUnit.csproj
  tests/Microsoft.DotNet.XHarness.Tests.Assembly.xUnit/SampleTest.cs
  tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests.csproj
  tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests/xUnit/XUnitFilterTests.cs
Labels: test-runners

#138 [Runners] Do not filter per Attr, make client use traits.
  src/Microsoft.DotNet.XHarness.Tests.Runners/ApplicationEntryPoint.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/Core/TestRunner.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/IgnoreFileParser.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitFilter.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitFilterType.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitTestRunner.cs
  tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests/xUnit/XUnitFilterTests.cs
Labels: ios

#136 Add basic README.md
  README.md
Labels: documentation

#142 [Runners] Expose a property to allow to log the skipped tests.
  src/Microsoft.DotNet.XHarness.Tests.Runners/ApplicationEntryPoint.cs
Labels: test-runners

#134 Make the Runners.Tests project a friendly assembly
  src/Microsoft.DotNet.XHarness.Tests.Runners/Properties/AssemblyInfo.cs
  tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests.csproj
Labels: enhancement
