Repository dotnet/xharness, pull requests merged in 2020-05, with the labels that each got.

#139 [iOS] Add support to parse the arch of a csproj or a plist.
  src/Microsoft.DotNet.XHarness.iOS.Shared/AppBundleInformation.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/AppBundleInformationParser.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Utilities/PlistExtensions.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Utilities/ProjectFileExtensions.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/TestReporterTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Utilities/PListExtensionsTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#149 [iOS] Fix getting information about 32 bit support
  src/Microsoft.DotNet.XHarness.iOS.Shared/AppBundleInformationParser.cs
Labels: bug, ios

#146 [Runners] Refactor filters and fix a number of issues in them.
  src/Microsoft.DotNet.XHarness.Tests.Runners/Core/TestRunner.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/TestCaseExtensions.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitFilter.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitFiltersCollection.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitTestRunner.cs
  tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests/xUnit/XUnitFilterTests.cs
  tests/Microsoft.DotNet.XHarness.Tests.Runners.Tests/xUnit/XUnitFiltersCollectionTests.cs
Labels: test-runners

#145 Enable C# 8.0 nullability for the CLI, Android and iOS projects, improve help command behaviour
  README.md
  src/Microsoft.DotNet.XHarness.Android/AdbRunner.cs
  src/Microsoft.DotNet.XHarness.Android/Microsoft.DotNet.XHarness.Android.csproj
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/Android/AndroidGetStateCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/Android/AndroidTestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/GetStateCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/ICommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/TestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/XHarnessCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSGetStateCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSPackageCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSTestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/Android/AndroidGetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/Android/AndroidTestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/GetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/TestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/XHarnessCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/XHarnessHelpCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSGetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSPackageCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Microsoft.DotNet.XHarness.CLI.csproj
  src/Microsoft.DotNet.XHarness.iOS/AppInstaller.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  src/Microsoft.DotNet.XHarness.iOS/Darwin.cs
  src/Microsoft.DotNet.XHarness.iOS/ErrorKnowledgeBase.cs
  src/Microsoft.DotNet.XHarness.iOS/Microsoft.DotNet.XHarness.iOS.csproj
  src/Microsoft.DotNet.XHarness.iOS/TestImporter/ProjectFilter.cs
Labels: documentation, enhancement

#147 Revert "Disable signing validation to unblock the pipeline (#99)"
  azure-pipelines.yml
Labels: pipeline

#164 Add information about env variables
  README.md
Labels: documentation

#159 [iOS] Ensure that when we use other loggers, we can generate xml failures.
  src/Microsoft.DotNet.XHarness.iOS.Shared/IResultParser.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporter.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/XmlResultParser.cs
Labels: enhancement, ios

#163 [iOS] Add iOS integration tests build stage
  azure-pipelines.yml
  tests/integration-tests/helix-payload/osx-helix-payload.sh
Labels: ios, pipeline

#174 [iOS] Use xcode-select to determine Xcode installation path for E2E tests
  tests/integration-tests/helix-payload/osx-helix-payload.sh
Labels: bug, ios, pipeline

#173 Add the Microsoft.DotNet.XHarness.SimulatorInstaller project
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Microsoft.DotNet.XHarness.SimulatorInstaller.csproj
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Program.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/SimulatorInstaller.sln
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/runtimeconfig.template.json
Labels: ios

#179 Use .NET 3.1 in our integration tests
  azure-pipelines.yml
Labels: ios, pipeline

#180 Include the SimulatorInstaller project in the solution
  XHarness.sln
Labels: ios, pipeline

#183 Bump SDK versions (iOS to 13.4)
  src/Microsoft.DotNet.XHarness.iOS.Shared/SdkVersions.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Hardware/SimulatorsTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Samples/simulators.xml
Labels: ios

#178 Exit HandleTestFailed when SkipTestException is handled
  src/Microsoft.DotNet.XHarness.Tests.Runners/xUnit/XUnitTestRunner.cs
Labels: test-runners

#193 Respect the verbosity level in logger
  src/Microsoft.DotNet.XHarness.CLI/Commands/XHarnessCommand.cs
Labels: bug

#194 Restart the Simulator.app and upload xUnit results to AzDO
  azure-pipelines.yml
  tests/integration-tests/helix-payload/osx-helix-payload.sh
Labels: ios, pipeline

#195 Fix file permissions for uploads of integration tests
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/integration-tests/helix-payload/osx-helix-payload.sh
Labels: pipeline

#200 [Runners] Make sure that we dispose things correctly.
  src/Microsoft.DotNet.XHarness.Tests.Runners/AndroidApplicationEntryPoint.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/ApplicationEntryPoint.cs
  src/Microsoft.DotNet.XHarness.Tests.Runners/iOSApplicationEntryPoint.cs
Labels: test-runners

#182 Rewrite the SimulatorInstaller tool
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/IMacOSProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/MacOSProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/Mlaunch/IMLaunchProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/Mlaunch/MLaunchProcessManager.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Arguments/FindCommandArguments.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Arguments/InstallCommandArguments.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Arguments/ListCommandArguments.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Arguments/SimulatorInstallerCommandArguments.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Commands/FindCommand.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Commands/HelpCommand.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Commands/InstallCommand.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Commands/ListCommand.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Commands/SimulatorInstallerCommand.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Microsoft.DotNet.XHarness.SimulatorInstaller.csproj
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Program.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Simulator.cs
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/SimulatorInstaller.sln
Labels: ios

#207 Stop publishing the Common project as a NuGet package
  src/Microsoft.DotNet.XHarness.Common/Microsoft.DotNet.XHarness.Common.csproj
Labels: pipeline

#204 [iOS] Allow users to use lldb to debug issues in test applications.
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSTestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSPackageCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/AggregatedLog.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
Labels: enhancement, ios

#206 Show descriptions for the help command
  src/Microsoft.DotNet.XHarness.CLI/Commands/Android/AndroidTestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/GetStateCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/TestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSPackageCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
Labels: documentation, enhancement

#170 [iOS] Show run log in stdout for verbose mode
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  tests/integration-tests/helix-payload/osx-helix-payload.sh
Labels: enhancement, ios

#203 [iOS] Notify the user when there are issues when connecting to the device.
  src/Microsoft.DotNet.XHarness.iOS/ErrorKnowledgeBase.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/ErrorKnowledgeBaseTests.cs
Labels: enhancement, ios

#208 [iOS] Fix the mess we had with the logs.
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSPackageCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.Common/Logging/ILog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/CrashSnapshotReporter.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/IErrorKnowledgeBase.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleFileListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleHttpListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListenerFactory.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleTcpListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/AggregatedLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/AppInstallMonitorLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/CallbackLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/CaptureLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/ConsoleLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/ILogs.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/Log.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/LogFile.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/Logs.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/MemoryLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/ReadableLog.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporter.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporterFactory.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  src/Microsoft.DotNet.XHarness.iOS/ErrorKnowledgeBase.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/CrashSnapshotReporterTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Listeners/SimpleFileListenerTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Listeners/SimpleListenerFactoryTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Listeners/SimpleTcpListenerTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Logging/ConsoleLogTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/TestReporterTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/XmlResultParserTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#209 Add integration tests for SimulatorInstaller
  azure-pipelines.yml
  tests/integration-tests/helix-payloads/cli-integration-tests.sh
  tests/integration-tests/helix-payloads/simulatorinstaller-integration-tests.sh
  tools/Microsoft.DotNet.XHarness.SimulatorInstaller/Commands/ListCommand.cs
Labels: ios, pipeline

#211 [iOS] Stop passing mlaunch output to stderr of XHarness CLI
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: bug, enhancement, ios

#212 [iOS] Add LaunchFailure as one of the test run outcomes
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.Common/CLI/ExitCode.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestExecutingResult.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestReporter.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/TestExecutingResultTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/TestImporter/Templates/Managed/XamariniOSTemplateTest.cs
Labels: enhancement, ios

#213 Validate script arguments in integration tests
  tests/integration-tests/helix-payloads/cli-integration-tests.sh
Labels: enhancement, ios, pipeline

#216 Use TCP over Network for integration tests
  azure-pipelines.yml
  tests/integration-tests/helix-payloads/cli-integration-tests.sh
Labels: ios, pipeline

#217 [iOS] Omit second timestamp for Debug mode
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
Labels: enhancement, ios

#222 Start using Production/OSX.1015.Amd64.Open for integration tests
  azure-pipelines.yml
  tests/integration-tests/helix-payloads/simulatorinstaller-integration-tests.sh
Labels: ios, pipeline

#171 Add WebAssembly test runner.
  XHarness.sln
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/WASM/WasmTestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/WASM/WasmCommandSet.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/WASM/WasmTestCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/XHarnessHelpCommand.cs
  src/Microsoft.DotNet.XHarness.CLI/Microsoft.DotNet.XHarness.CLI.csproj
  src/Microsoft.DotNet.XHarness.CLI/Program.cs
  src/Microsoft.DotNet.XHarness.WebAssembly/Microsoft.DotNet.XHarness.WebAssembly.csproj
  src/Microsoft.DotNet.XHarness.WebAssembly/xunit-runner.cs
Labels: test-runners

#226 Fix flaky LogFile Tests
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Logging/LogFileTest.cs
Labels: ios

#224 [iOS] Refactor AppRunner
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.Common/Execution/ProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Collections/BlockingEnumerableCollection.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Hardware/ISimulatorDevice.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Hardware/SimulatorLoader.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleFileListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleHttpListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/SimpleTcpListener.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Listeners/TcpTunnel.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Logging/CaptureLog.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Hardware/SimulatorsTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Listeners/SimpleFileListenerTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Listeners/SimpleTcpListenerTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests.csproj
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
  tests/integration-tests/helix-payloads/cli-integration-tests.sh
Labels: enhancement, ios

#231 Install the dotnet tools via --tool-path in our CI tests
  tests/integration-tests/helix-payloads/cli-integration-tests.sh
  tests/integration-tests/helix-payloads/simulatorinstaller-integration-tests.sh
Labels: ios, pipeline

#234 [iOS] Fix passing of the sdkroot argument to mlaunch
  src/Microsoft.DotNet.XHarness.iOS.Shared/Execution/Mlaunch/MLaunchProcessManager.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Hardware/SimulatorLoader.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
Labels: bug, ios
