Repository dotnet/xharness, pull requests merged in 2020-06, with the labels that each got.

#227 [Runners] Add the first steps to provide a NUnit runner.
  XHarness.sln
  src/Microsoft.DotNet.XHarness.TestRunners.Common/Properties/AssemblyInfo.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/FilterBuilder.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/INUnitTestRunner.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/IResultSummary.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/Microsoft.DotNet.XHarness.TestRunners.NUnit.csproj
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/NUnit3XmlOutputWriter.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/NUnitTestListener.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/NUnitTestRunner.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/OutputWriter.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/Properties/AssemblyInfo.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/ResultSummary.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/TestStatusExtensions.cs
  src/Microsoft.DotNet.XHarness.TestRunners.NUnit/XmlResultJargonExtensions.cs
  tests/Microsoft.DotNet.XHarness.TestRunners.Tests/Microsoft.DotNet.XHarness.TestRunners.Tests.csproj
  tests/Microsoft.DotNet.XHarness.TestRunners.Tests/NUnit/NUnit3XmlOutputWriterTests.cs
  tests/Microsoft.DotNet.XHarness.TestRunners.Tests/NUnit/TestStatusExtensionsTests.cs
Labels: test-runners

#246 Fix the pass-through arguments
  src/Microsoft.DotNet.XHarness.CLI/Program.cs
  src/Microsoft.DotNet.XHarness.Common/CLI/Commands/XHarnessCommand.cs
  tests/Microsoft.DotNet.XHarness.Common.Tests/CLI/Commands/XHarnessCommandTests.cs
Labels: bug

#261 Allow to specify desired Simulator runtime (iOS/tvOS/WatchOS version)
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/iOS/iOSTestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Hardware/ISimulatorDevice.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Hardware/SimulatorLoader.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/TestTarget.cs
  src/Microsoft.DotNet.XHarness.iOS.Shared/Utilities/Extensions.cs
  src/Microsoft.DotNet.XHarness.iOS/AppInstaller.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Shared.Tests/Hardware/SimulatorsTest.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppInstallerTests.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: enhancement, ios

#257 Pass the pass-through arguments to mlaunch
  src/Microsoft.DotNet.XHarness.CLI/CommandArguments/TestCommandArguments.cs
  src/Microsoft.DotNet.XHarness.CLI/Commands/iOS/iOSTestCommand.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: enhancement, ios

#262 [iOS] Do not fail if 0 tests were run
  src/Microsoft.DotNet.XHarness.iOS.Shared/XmlResultParser.cs
Labels: ios

#271 Remove the non-Helix SDK integration tests of XHarness CLI
  azure-pipelines.yml
  tests/integration-tests/iOS/helix-payloads/cli-integration-tests.sh
Labels: pipeline

#275 [iOS] Improve simulator loading
  src/Microsoft.DotNet.XHarness.iOS.Shared/Hardware/SimulatorLoader.cs
  src/Microsoft.DotNet.XHarness.iOS/AppRunner.cs
  tests/Microsoft.DotNet.XHarness.iOS.Tests/AppRunnerTests.cs
Labels: ios

#276 Link to Arcade Helix SDK readme about XHarness
  README.md
Labels: documentation
